.form-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 70px;
  padding: 70px 30px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.input {
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  font-size: 16px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.button {
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 600;

  &.danger {
    background-color: #ff4444;
  }
}