.header {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #4caf50;
  max-width: 100vw;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(56, 58, 72, 0.06);
  .logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }
}